html {
  color: darkslategray;
  background-color: #fffefd;
}

body {
  padding-top: 3rem;
}

.purchased-false {
  height: 40px;
  background-color: red;
}
.purchased-green {
  height: 40px;
  background-color: green;
}
.purchased {
  color: slategray;
  font-weight: normal;
  text-decoration: line-through;
}

h1 {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.grocery-addItem {
  margin-bottom: 1rem;
  padding-top: 1rem;
}


