<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <script src="bundle.js"></script>
  </head
  <body>
    <h1>Hello World!!!</h1>
    <p>After a reload dasda</p>
    <p>One more test</p>
    <p>Third test</p>
    <p>4th test</p>
    <p>5th test</p>
    <p>6h test</p>
    <p>7th test</p>
    <p>8th test</p>
    <p>9th test</p>
  </body>
</html>
